@media screen and (min-width: 480px) {
    body {
      background-color:	#20B2AA;
      font-family: verdana;
      background-size:cover;
    }
  }
  nav>ul{
    text-align:right;
  }
  nav>ul>li{
    display:inline-block;
  }
  nav>ul>li>a{
    padding:5px;
    text-transform:uppercase;
    text-decoration:none;
    color:white;
    margin-top:5px;
}
#home{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-left: 60px;
    margin-right: 60px;
}
h3{
  color:white
}
input[type=number], select {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 40px;
  }
  .container {
    border-radius: 10px;
    background-color: #f2f2f283;
    padding: 10px;
    margin-left: 60px;
    
  }
.social{
    text-align:right;
    background-color:	#87CEFA;
    margin-top: 60px;
}
.social footer{
 text-align: center; 
}
